# DICTIONARY

In [1]:
Empty_dict={}
Empty_dict['f_name']='Haseeb'
Empty_dict['Age']='18'

In [2]:
print(Empty_dict)

{'f_name': 'Haseeb', 'Age': '18'}

In [7]:
dict1={'Name':'Muhammad Haseeb','UNI':'FAST','Team':'Pakistan','House':"Targaryan"}

In [8]:
print(dict1)

{'Name': 'Muhammad Haseeb', 'UNI': 'FAST', 'Team': 'Pakistan', 'House': 'Targaryan'}

In [10]:
dict2={'Name':'Muhammad Haseeb','UNI':'FAST','Team':'Pakistan','House':"Targaryan",'House':'Gryffindor'}

In [12]:
print(dict2)

{'Name': 'Muhammad Haseeb', 'UNI': 'FAST', 'Team': 'Pakistan', 'House': 'Gryffindor'}

In [15]:
del dict1['Name']
print(dict1)

{'UNI': 'FAST', 'Team': 'Pakistan', 'House': 'Gryffindor'}

In [17]:
dict1={'Name':'Muhammad Haseeb','UNI':'FAST','Team':'Pakistan','House':"Targaryan"}
for info  in dict1.values():
    print(info)

Muhammad Haseeb
FAST
Pakistan
Targaryan

In [19]:
for key in dict1.keys():
    print(key)

Name
UNI
Team
House

In [21]:
dict1.popitem()

('House', 'Targaryan')

In [23]:
dict1={'Name':'Muhammad Haseeb','UNI':'FAST','Team':'Pakistan','House':"Targaryan"}
for key in dict1.keys():
    print(key,':',dict1[key])

Name : Muhammad Haseeb
UNI : FAST
Team : Pakistan
House : Targaryan

In [24]:
for itm in dict1.items():
    print(itm)

('Name', 'Muhammad Haseeb')
('UNI', 'FAST')
('Team', 'Pakistan')
('House', 'Targaryan')

In [27]:
for key,value in dict1.items():
    print("This is a key :",key,"\tThis is a value :",value)

This is a key : Name 	This is a value : Muhammad Haseeb
This is a key : UNI 	This is a value : FAST
This is a key : Team 	This is a value : Pakistan
This is a key : House 	This is a value : Targaryan

In [28]:
profile={}
profile['name']=input('Name :')
profile['age']=input('Age :')
profile['cnic']=input('CNIC No :')

Name :Muhammad Haseeb
Age :18
CNIC No :4567-9897982-09

In [29]:
print(profile)

{'name': 'Muhammad Haseeb', 'age': '18', 'cnic': '4567-9897982-09'}

In [30]:
customers=[{'customer_id':'123','name':'Ammar'},{'customer_id':'234','name':'Hamza'}
          ,{'customer_id':'345','name':'Zain'},{'customer_id':'456','name':'Usman'}]

In [33]:
customers[-1]

{'customer_id': '456', 'name': 'Usman'}

In [34]:
customers[-1]['name']

'Usman'

In [56]:
for l in customers:
    if (l['customer_id']=='234'):
        customers.remove(l)

In [57]:
customers

[{'customer_id': '123', 'name': 'Ammar'},
 {'customer_id': '345', 'name': 'Zain'},
 {'customer_id': '456', 'name': 'Usman'}]

In [ ]:
##User s input lekr dictionary m list k andar appaend kara dege

In [58]:
type(customers)

list

In [65]:
customer_2={"customer_id":'123','name':'Hamza','interests':['cricket','gaming ','football','movies',{'game':'fifa','movie' : 'Lord of the rings'}]}

In [63]:
customer_2['interests'][4]['game']

'fifa'

In [66]:
customer_2['interests'][4]['movie']

'Lord of the rings'

In [72]:
new_customer={0:{'first name':'John','last name':'Wick','address':'Continental'},
              1:{'first name':'Steve','last name':'Roggers','address':'301 arbor town'},
             2:{'first name':'Cartoon','last name':'Network','address':'PO Box 1145'}}

In [73]:
new_customer[2]

{'first name': 'Cartoon', 'last name': 'Network', 'address': 'PO Box 1145'}

In [74]:
new_customer[1]['first name']

'Steve'

In [75]:
1 in new_customer #(Index available or not)

True

In [76]:
5 in new_customer

False

In [78]:
'address' in new_customer[2]

True

# Functions

In [ ]:
# Robot performing particular task on providing appropriate set of instructions

In [84]:
def add():    #Function definition
    a=5 
    b=3
    c=a+b
    print(c)

In [87]:
add()

8

In [88]:
def adder(a,b): #(Parameter)
    print(a+b)

In [93]:
adder(13232,3434)  #(Arguements)

16666

In [94]:
type(adder)

function

In [109]:
def cal(a,b,c):
    if(c=='+'):
        print(a+b)
    elif(c=='-'):
        print(a-b)
    elif(c=='/'):
        print(round (a/b,3))
    elif(c=='*'):
        print(a*b)
    else:
        print("Invalid Operator")

In [110]:
cal(12,45,'+')
cal(12,45,'-')
cal(12,45,'*')
cal(12,45,'/')

57
-33
540
0.267

In [1]:
def cal(a,b="",c='+'):
    if(c=='+'):
        print(a+b)
    elif(c=='-'):
        print(a-b)
    elif(c=='/'):
        print(round (a/b,3))
    elif(c=='*'):
        print(a*b)
    else:
        print("Invalid Operator")

In [2]:
cal(12,4)
cal(12,4,'-')
cal(1,1)

16
8
2

In [118]:
def userandfather(user,father):
    print(f"I am {user}\n My father is {father}")

In [116]:
userandfather('Ali',"Hamza")

I am Ali
 My father is Hamza

In [119]:
userandfather(father='IstrAK',user='Sham')

I am Sham
 My father is IstrAK

In [120]:
# Ek function banana h with first , middle and last names