In [3]:
new_tuple=("Ali","Hamza","Ammar","Usman","Hamza","Hamza")
new_tuple.index("Ali")

0

In [4]:
new_tuple.index("Hamza")

1

In [5]:
new_tuple.index("Hamza",2)

4

In [6]:
new_tuple.count("Hamza")

3

# LOOP

In [7]:
my_num=[1,2,4,5,6,7]
for i in my_num:
    mul=i*2
    print(mul)

2
4
8
10
12
14

In [8]:
names=["Ali","Hamza","Ammar","Haseeb","Zain"]
for n in names:
    print(n)

Ali
Hamza
Ammar
Haseeb
Zain

In [9]:
for i in range(1,10,5):   ##(first(starting pt),second(Ending pt),Third(Increment) )
    print("Haseeb")

Haseeb
Haseeb

In [10]:
for i in range(11,1,-1):
    print(i,end=" ")

11 10 9 8 7 6 5 4 3 2

In [11]:
print("Ali","Hamza","Ammar",sep="**")

Ali**Hamza**Ammar

In [12]:
name="Haseeb"
age="18"
print("my name is "+ name +" and my age is "+ age)

my name is Haseeb and my age is 18

In [13]:
print("my name is {} and my age is {}".format(name,age))

my name is Haseeb and my age is 18

In [14]:
print(f"my name is {name} and my age is {age}")

my name is Haseeb and my age is 18

In [16]:
tab=int(input("Table of ?"))
for i in range(1,11):
    print(f"{tab}x{i}={tab*i}")

Table of ?19
19x1=19
19x2=38
19x3=57
19x4=76
19x5=95
19x6=114
19x7=133
19x8=152
19x9=171
19x10=190

In [20]:
tab=int(input("Table of ?"))
for i in range(1,11):
    if(i==3):
        break
    print(f"{tab}x{i}={tab*i}")

Table of ?2
2x1=2
2x2=4

In [21]:
tab=int(input("Table of ?"))
for i in range(1,11):
    if(i==3):
        continue
    print(f"{tab}x{i}={tab*i}")

Table of ?6
6x1=6
6x2=12
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
6x10=60

In [2]:
partyy=[]
for i in range(0,10):
    y=input("Enter Name :")
    partyy.append(y)
    if(partyy[i]=="Ali"):
        print("Party End !!")
        break
    else:
        print("Enjoy Party")

Enter Name :haseeb
Enjoy Party
Enter Name :hassan
Enjoy Party
Enter Name :amir
Enjoy Party
Enter Name :jani
Enjoy Party
Enter Name :fuck
Enjoy Party
Enter Name :ali
Enjoy Party
Enter Name :Ali
Party End !!

In [4]:
friendds=['a','b','c','g','e','g']
for f in friendds:
    if (f!='g'):
        print("Enjoy Karo")
    else:
        print("Bhaago abba agae")
        break

Enjoy Karo
Enjoy Karo
Enjoy Karo
Bhaago abba agae

# Nested Loops

In [8]:
for a in range(5):
    for b in ["a","b","c","d"]:
        print(a,b,end="||")

0 a||0 b||0 c||0 d||1 a||1 b||1 c||1 d||2 a||2 b||2 c||2 d||3 a||3 b||3 c||3 d||4 a||4 b||4 c||4 d||

In [9]:
for a in range(5):
    for b in ["a","b","c","d"]:
        pass

In [10]:
print(a,b,end="||")

4 d||

In [14]:
tab=1
for j in range (1,10):
    for i in range(1,11):
        print(f"{j}x{i}={j*i}",end=" ")
    print("")

1x1=1 1x2=2 1x3=3 1x4=4 1x5=5 1x6=6 1x7=7 1x8=8 1x9=9 1x10=10
2x1=2 2x2=4 2x3=6 2x4=8 2x5=10 2x6=12 2x7=14 2x8=16 2x9=18 2x10=20
3x1=3 3x2=6 3x3=9 3x4=12 3x5=15 3x6=18 3x7=21 3x8=24 3x9=27 3x10=30
4x1=4 4x2=8 4x3=12 4x4=16 4x5=20 4x6=24 4x7=28 4x8=32 4x9=36 4x10=40
5x1=5 5x2=10 5x3=15 5x4=20 5x5=25 5x6=30 5x7=35 5x8=40 5x9=45 5x10=50
6x1=6 6x2=12 6x3=18 6x4=24 6x5=30 6x6=36 6x7=42 6x8=48 6x9=54 6x10=60
7x1=7 7x2=14 7x3=21 7x4=28 7x5=35 7x6=42 7x7=49 7x8=56 7x9=63 7x10=70
8x1=8 8x2=16 8x3=24 8x4=32 8x5=40 8x6=48 8x7=56 8x8=64 8x9=72 8x10=80
9x1=9 9x2=18 9x3=27 9x4=36 9x5=45 9x6=54 9x7=63 9x8=72 9x9=81 9x10=90