In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
data ={"Name":["Ammar","Haseeb","Shamikh","Hamza"],"Maths":[78,76,67,89],"PF":[76,74,74,35],"Eng":[66,87,65,67]}

In [6]:
frame=pd.DataFrame(data)

In [7]:
frame["total"]=[c+p+m for c,p,m in zip(frame["Maths"],frame["PF"],frame["Eng"])]

In [8]:
frame

      Name  Maths  PF  Eng  total
0    Ammar     78  76   66    220
1   Haseeb     76  74   87    237
2  Shamikh     67  74   65    206
3    Hamza     89  35   67    191

In [9]:
frame["remarks"]=["fail" if num < 200 else "Pass" for num in frame["total"]]

In [10]:
frame

      Name  Maths  PF  Eng  total remarks
0    Ammar     78  76   66    220    Pass
1   Haseeb     76  74   87    237    Pass
2  Shamikh     67  74   65    206    Pass
3    Hamza     89  35   67    191    fail

In [11]:
obj1=pd.Series(["Blue","Purple","Yellow"],index=[0,2,7])

In [12]:
obj1

0      Blue
2    Purple
7    Yellow
dtype: object

In [13]:
obj1.reindex(range(9),method=("ffill"))

0      Blue
1      Blue
2    Purple
3    Purple
4    Purple
5    Purple
6    Purple
7    Yellow
8    Yellow
dtype: object

In [14]:
frame2=pd.DataFrame(np.arange(100).reshape(20,5),columns=["A","B","C","D","E"])

In [15]:
frame2

     A   B   C   D   E
0    0   1   2   3   4
1    5   6   7   8   9
2   10  11  12  13  14
3   15  16  17  18  19
4   20  21  22  23  24
5   25  26  27  28  29
6   30  31  32  33  34
7   35  36  37  38  39
8   40  41  42  43  44
9   45  46  47  48  49
10  50  51  52  53  54
11  55  56  57  58  59
12  60  61  62  63  64
13  65  66  67  68  69
14  70  71  72  73  74
15  75  76  77  78  79
16  80  81  82  83  84
17  85  86  87  88  89
18  90  91  92  93  94
19  95  96  97  98  99

In [16]:
frame2.loc[2:3]

    A   B   C   D   E
2  10  11  12  13  14
3  15  16  17  18  19

In [17]:
frame2.iloc[2:3]

    A   B   C   D   E
2  10  11  12  13  14

In [18]:
frame2.iloc[2:4]

    A   B   C   D   E
2  10  11  12  13  14
3  15  16  17  18  19

In [19]:
frame[frame["PF"]>70]

      Name  Maths  PF  Eng  total remarks
0    Ammar     78  76   66    220    Pass
1   Haseeb     76  74   87    237    Pass
2  Shamikh     67  74   65    206    Pass

In [20]:
frame[(frame["PF"]>70) & ( frame["Eng"]>65 )]

     Name  Maths  PF  Eng  total remarks
0   Ammar     78  76   66    220    Pass
1  Haseeb     76  74   87    237    Pass

In [21]:
del frame ["remarks"]

In [22]:
np.where( frame < 70 ,"Fail","Pass")

TypeError: '<' not supported between instances of 'str' and 'int'

In [23]:
frame

      Name  Maths  PF  Eng  total
0    Ammar     78  76   66    220
1   Haseeb     76  74   87    237
2  Shamikh     67  74   65    206
3    Hamza     89  35   67    191

In [24]:
f = lambda x:[x.max(),x.min(),x.sum()]
frame[["Maths","PF"]].apply(f)

Maths    [89, 67, 310]
PF       [76, 35, 259]
dtype: object

In [25]:
form1=lambda x:print(x)
frame["PF"].map(form1)

76
74
74
35

0    None
1    None
2    None
3    None
Name: PF, dtype: object

In [118]:
form1=lambda x:x**x
frame["PF","Maths"].applymap(form1)

KeyError: ('PF', 'Maths')

In [7]:
obj=pd.Series(range(6),index=['d','a','b','c','1','A'])

In [8]:
obj.index

Index(['d', 'a', 'b', 'c', '1', 'A'], dtype='object')

In [9]:
obj.sort_values()

d    0
a    1
b    2
c    3
1    4
A    5
dtype: int64

In [10]:
obj.sort_index()

1    4
A    5
a    1
b    2
c    3
d    0
dtype: int64

In [13]:
frame4=pd.DataFrame(np.arange(8).reshape((2,4)),index=["three","four"],columns=['d','a','b','c'])

In [25]:
frame4

       a  b  c  d
four   5  6  7  4
three  1  2  3  0

In [26]:
frame4.sort_index(axis=1,inplace=True)

In [27]:
frame4

       a  b  c  d
four   5  6  7  4
three  1  2  3  0

In [22]:
frame4.sort_index(axis=1,ascending=False)

       d  c  b  a
three  0  3  2  1
four   4  7  6  5

In [23]:
frame4.sort_index(axis=0,inplace=True)

In [24]:
frame4

       a  b  c  d
four   5  6  7  4
three  1  2  3  0

In [28]:
frame5=pd.DataFrame(np.arange(24).reshape((4,6)),index=["three","four",'1','2'],columns=['d','a','b','c','e','i'])

In [29]:
frame5

        d   a   b   c   e   i
three   0   1   2   3   4   5
four    6   7   8   9  10  11
1      12  13  14  15  16  17
2      18  19  20  21  22  23

In [35]:
frame5.sort_values(by = 'i')

        d   a   b   c   e   i
three   0   1   2   3   4   5
four    6   7   8   9  10  11
1      12  13  14  15  16  17
2      18  19  20  21  22  23

In [43]:
obj_n=pd.Series([-5,7,4,2,0,4,7])

In [44]:
obj_n

0   -5
1    7
2    4
3    2
4    0
5    4
6    7
dtype: int64

In [45]:
obj_n.sort_values(inplace=True)

In [46]:
obj_n

0   -5
4    0
3    2
2    4
5    4
1    7
6    7
dtype: int64

In [47]:
obj_n.rank(method="first")

0    1.0
4    2.0
3    3.0
2    4.0
5    5.0
1    6.0
6    7.0
dtype: float64

In [48]:
frame5

        d   a   b   c   e   i
three   0   1   2   3   4   5
four    6   7   8   9  10  11
1      12  13  14  15  16  17
2      18  19  20  21  22  23

In [49]:
frame5.cumsum()

        d   a   b   c   e   i
three   0   1   2   3   4   5
four    6   8  10  12  14  16
1      18  21  24  27  30  33
2      36  40  44  48  52  56

In [50]:
frame5['c'].isin([2,3])

three     True
four     False
1        False
2        False
Name: c, dtype: bool