In [1]:
import pandas as pd

In [2]:
import numpy as np

In [7]:
pd.read_csv("TAXRATES1.csv")

,Unnamed: 0,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,0,AK,one,ANCHORAGE BOROUGH,0.0,0.0,0.0,NaN,0.0,1
1,1,AK,one,ANCHORAGE BOROUGH,0.0,NaN,0.0,0.0,0.0,2
2,2,AK,two,ANCHORAGE BOROUGH,0.0,0.0,NaN,0.0,NaN,3
3,3,AK,two,ANCHORAGE BOROUGH,NaN,0.0,0.0,0.0,0.0,4