In [1]:
print("Hello Worldd!")

Hello Worldd!

In [3]:
x=100
a=5
x/a   #(Float Division)

20.0

In [4]:
print(a+x)

105

In [5]:
a-x

-95

In [6]:
type(a/x)

float

In [7]:
id(a)

140712529466304

In [8]:
input(x)

1004

'4'

In [9]:
print("Write Input :")
input(x)

Write Input :
1005

'5'

In [19]:
a//x  # Int Divixion(only Integers)

0

In [20]:
(a,x)=(x,a)

In [21]:
a

100

In [22]:
type("ABC")

str

In [23]:
type('A')

str

In [27]:
print("Roza Rakho Ji!")

Roza Rakho Ji!

In [31]:
x=5
print("My number is ",x)

My number is  5

In [11]:

(a//x)+5*3

15

In [12]:
print("Hello","world")

Hello world

In [13]:
(2*4)*(4+2)

48

In [16]:
if (x)==100:
    print("!!!!")

!!!!

In [20]:
5**2   #(Double Star == Power)

25

In [13]:
names=["Ammar","Haseeb","Hamza"]
print(names)

['Ammar', 'Haseeb', 'Hamza']

In [14]:
names[1]

'Haseeb'

In [15]:
names[2]

'Hamza'

In [16]:
5+2
a="Ammar"           #Concatination
b="Abbaxi"
c=" "
d=a+c+b
d

'Ammar Abbaxi'

In [17]:

for i in names:
    print(i)

Ammar
Haseeb
Hamza

In [18]:
print(d+c+"EE")

Ammar Abbaxi EE

5+A

In [56]:
'A+A'+' '+'h'

'A+A h'

In [59]:
5*names[1]

'HaseebHaseebHaseebHaseebHaseeb'

In [63]:


print("\n\n")#Next Line

In [65]:
print('FAST\tBS(CS)')

FAST	BS(CS)

In [69]:
print('''My country's name is Pakistan. And we must keep it clean.''')

My country's name is Pakistan. And we must keep it clean.

In [72]:
print('''"AFtari Kar lo".!!!''')

"AFtari Kar lo".!!!

In [77]:
user_input=input("Enter Your Input") # Take Input and display it!!!
print(user_input)                    #Input lene wala dabba=prompt

Enter Your Input123
123

In [81]:
user1=input("Enter any number") # Take Input and display it!!!
print(type(user1))

Enter any number17
<class 'str'>

In [82]:
#TypeCastingg 
user1=int(input("Enter any number")) # Take Input and display it!!!
print(type(user1))

Enter any number12
<class 'int'>

In [100]:
name=input("Enter name :")
age=input("Your age :")
age=int(age)+4    #type casted to int 
print("My name  is "+ name + " and I am " +str(age) +"years old" )#type casted to String to concatenate

Enter name :Haseeb
Your age :16
My name  is Haseeb and I am 20years old

In [91]:
ammar="Beta"
if(ammar=="Beta"):
    print("He respects his father")

He respects his father

In [92]:
int ('5')

5

In [93]:
str('5')

'5'

In [95]:
int(age)

23

In [19]:
a=int(input("Enter Number :"))
if(a>=10):
    print("Greater Than 10")
elif(a>=5):
    print("Greater Than 5")
else :
    print("SMallest")

Enter Number :90
Greater Than 10

In [30]:
list("hello")

['h', 'e', 'l', 'l', 'o']

In [35]:
list1=list([1,2,3])

In [32]:
list1

[1, 2, 3]

In [33]:
list1=list()

In [34]:
list1

[]

In [40]:
list1.sort(reverse=True)

In [41]:
list1

[3, 2, 1]

In [50]:
names1=["Amir","Bear","Charlton","Daman"]
names2=names1
names3=names1[:]

names2[0]="Alice"
names3[1]="Bob"
sum=0

for ls in (names1,names2,names3):
    if ls[0]=='Alice':
        sum+=1
        print(sum)
    if ls[1]=="Bob":
        sum+=10
        print(sum)
print(sum)

1
2
12
12

In [52]:
5 in list1

False

In [62]:
a=[1,2,3]
b=[1]
b=a.append(4)
print(b[0])
print(a)

TypeError: 'NoneType' object is not subscriptable

In [63]:
[j for i in range(2,8) for j in range(i*2, 50, i)]

[4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 14,
 21,
 28,
 35,
 42,
 49]